.cache_data/
.venv/
site/
docs/assets/maps/
docs/assets/tables/

# keep only the 2 needed assets; ignore the rest
docs/exports/*
!docs/exports/velib.parquet

docs/assets/figs/*
!docs/assets/figs/network/overview/kpis_today_vs_lags.png

*.pkl
*.joblib
*.feather
*.csv.gz
*.ipynb_checkpoints/
