* text=auto eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.sh  text eol=lf
*.py  text eol=lf
*.md  text eol=lf
*.yml text eol=lf
*.csv text eol=lf
*.ipynb text eol=lf
*.png binary
*.parquet binary
*.duckdb binary
