# --- Core app ---
streamlit>=1.36
pandas>=2.2
numpy>=1.26

# lire parquet
pyarrow>=16.0

# cartes/bulles
folium>=0.16

# graphiques (top 10)
matplotlib>=3.8

# HTTP (GBFS + géocodage)
requests>=2.32

# charger le modèle et prédire
lightgbm>=4.2
scikit-learn>=1.4
joblib>=1.4

huggingface-hub>=0.23   